<h1>Contact Me</h1>

<p>
Email: nkolesov@asu.edu
Phone: (408)759-0578
</p>

<h3>Follow Me</h3>

<p>
<a href="https://www.linkedin.com/in/nikolay-kolesov/">
	<img src="linkedin.png" width="50">
</a>
<a href="https://github.com/nkolesov">
	<img src="github.png" width="50">
</a>
</p>

<h3>Send Me a Message</h3>
<form action="mailto:nkolesov@asu.edu" method="post" enctype="text/plain">
Name: <br>
<input type="text" name="name"> <br>
Email:<br>
<input type = "text" name="mail"> <br>
Message:<br>
<input type="text" name="message" size="50"><br><br>
<input type="submit" value="Send">
</form>
