
<h1 class="heading">Nikolay Kolesov</h1>

<h3 class="subtitle">Aerospace Engineering & Computer Science</h3>

<div class= "content"  padding="0">
I am and engineering student based in Atlanta, GA. 
</div>
<br>
<div class="content" padding-bottom= "20px">
I am passionate about control system design and am pursuing a career in the engineering industry 
</div>

<div class="carousel">
	<div class="row">

	<div class="col-1 carousel_button">
		<button type="button" id="left_button"> &#60; </button>
	</div>
	
	<div class="col-10">
		<img src="/portrait.jpg" id="Image" height = "400">
	</div>
	
	<div class="col-1 carousel_button">
		<button type="button" id="right_button"> &#62; </button>
	</div>
	</div>
</div>

<script src="carousel.js"></script>

