<h1>Projects</h1>

<div class="container">
	<div class="row">
		<div class="col-6 project_box " >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus arcu lacinia nisi aliquam, sed ultrices quam dapibus. Praesent libero leo, varius ut semper vel, dapibus eu dui. Quisque sed ultrices elit. Nulla interdum interdum mi congue sollicitudin. Vivamus a tempus dui, vitae sodales justo. Etiam facilisis vitae lectus scelerisque egestas. Nunc quis libero sem. Etiam vestibulum at turpis sit amet consectetur. Cras eu fermentum risus. Fusce ultrices imperdiet velit, quis gravida justo sodales sit amet. Suspendisse in nunc non leo viverra vulputate id eget lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec at mollis dui. Phasellus ac magna massa. Aliquam nisi urna, aliquam quis justo ut, tempor pellentesque mi.

		Morbi accumsan iaculis odio cursus blandit. Sed bibendum scelerisque euismod. Nullam magna metus, ullamcorper eu nisl cursus, semper viverra velit. Maecenas sapien odio, commodo a magna ac, dapibus porttitor turpis. Donec viverra nisi sed ante interdum, ac tincidunt tortor suscipit. Nulla accumsan orci sit amet purus fermentum, ac rutrum ante commodo. Mauris efficitur augue sapien. Vestibulum at leo at nisi blandit accumsan. Nam vitae sollicitudin ligula, et mollis justo. Morbi at massa efficitur erat convallis tincidunt. Cras eu tempus purus, sed eleifend tortor.
		<img src="project.jpg" width="300">
		</div>
		<div class="col-6 project_box" >
		Project Title
		Project Description
		Project Image
		Link to project resources
		<img src="project.jpg" width="300">
		</div>
	</div>

	<div class="row">
		<div class="col-6 project_box" >
		Project Title
		Project Description
		Project Image
		Link to project resources
		<img src="project.jpg" width="300">
		</div>
		<div class="col-6 project_box" >
		Project Title
		Project Description
		Project Image
		Link to project resources
		<img src="project.jpg" width="300">
		</div>
	</div>
</div>