<h1>Projects</h1>

<div class="container">
	<div class="row">
		<div class="col-6 project_box " >
		<h4>2019 DBF Aircraft</h4>
		In 2019 I led the Arizona State Design Build Fly team to create an RC aircraft for an international competition hosted by the AIAA. The aircraft was required to perform a 10-ft takeoff, carry and drop attack stores and fly with a revloving radar disk. 
		For this project I utilized CFD analysis, CAD modeling, as well as rapid prototyping and testing to design and construct an aaircraft which finished 17th out of more than 100 teams.
		<br>
		<img src="plane2.jpg" width="300">
		</div>

		<div class="col-6 project_box" >
		<h4>3D Printer</h4>
		In 2018 I built my own Anet A8 3D printer. The frame was constructed from a kit and I performed all the fine tuning necessary to produce high quality parts, including calibrating the three axis motors, finding ideal temperatures for printing and resolving software bugs.
		<br>
		<img src="anet.jpg" width="300">
		</div>
	</div>

	<div class="row">
		<div class="col-6 project_box" >
		<h4>Rock Climbing Cam</h4>
		For my sophomore year statics class I designed and build a camming device, used to support rock climbers in the event of falls. I performed the static analysis to come up with an optimal design, built and tested prototypes out of 3D printed PLA, and finally made the final model out of laser cut plexiglass.
		The 2lb final model was able to hold up a 150lb student without any damage.
		<br>
		<img src="cam.jpg" width="300">
		</div>

		<div class="col-6 project_box" >
		<h4>Wing Structure Optimization</h4>
		For my undergraduate honors thesis, I wrote a MATLAB code which is able to interpret the design requirements for an aircraft wing and determine the optimal internal structure, minimizing weight while meeting all strength requirements. 
		This work was published in the AIAA Aviation 2020 conference.
		<br>
		<img src="wing.jpg" width="300">
		</div>
	</div>
	<br>
	<br>

</div>