<br>

<h3> Education </h3>
<div>
<strong>M.S. Aerospace Engineering</strong>					
</div>
<div>
Georgia Institute of Technology
</div>
<div>
Expected: December 2021 
</div>

<br>

<div>
<strong>B.S. Computer Science</strong>							
</div>
<div>
Oregon State University
</div>
<div>
Expected: May 2021 
</div>
<br>

<div>
<strong>B.S. Aerospace Engineering</strong>								
</div>
<div>
Arizona State University
</div>
<div>
December 2019 
</div>
<br>

<h3>Skills</h3>
<div class="row justify-content-center">
	<ul class="col-6" id="skills">
		<li>MATLAB</li>
		<li>Python</li>
		<li>Node.js</li>
		<li>Express</li>
		<li>Certified Solidworks Associate</li>
		<li>Aircraft Stability Analysis (VORLAX)</li>
		<li>Aircraft Wing Design w/ CFD</li>
		<li>MS Office</li>
	</ul>
</div>

<h3>Work Experience</h3>
<div class="container">
<h5><u>NASA Ames Research Center</u></h5>
<div>
Rover Engineering Intern<br>02/2020 - 05/2020
</div>
<div>
<ul>
	<li>Configure hardware on a rover to be used as a software testbed, detailed the design through wiring diagrams and FreeCAD models</li>
	<li>Learned to design neural networks in Python to be used for image recognition and rover navigation</li>
	<li>Worked with NASA CFS flight management software, added modules and adapted code to run on the rover</li>
</ul>
</div>


<br>

<h5><u>Air Force Research Laboratory</u></h5>
<div>
Intern<br>05/2019 - 07/2019
</div>
<ul>
	<li>Modified and used in-house aircraft sizing software (Python, Excel VBA) to develop concepts for future tanker aircraft</li>
	<li>Ran mission simulations to rpedict performance of each aircraft in real mission scenarios</li>
	<li>Performed cost analysis on each concept based on previous Air Force projects</li>
	<li>Compiled all collected data into a technical report and presentation to the branch</li>
</ul>
</div>

<div id="download">
<a href="/KolesovResume.pdf" download>
	<h3>Download Resume</h3>
</a>
</div>
