body {
	background-image: url(home_background.jpg);
	font-family: 'EB Garamond', serif;
	font-size: 1.3em;
	text-align: center;
}

.heading {
	font-size: 5em;
}

.subtitle {
	font-size: 2em;
}

.content {
	white-space: pre-wrap;
	font-size:1.3em;
	padding: 0;
	line-height: 0.5;
}

.carousel_button {
	padding-top: 190px;
}

.carousel {
	margin-top: 20px;
}

.project_box {
	height:300px;
	width:300px;
	border:1px solid #ccc;
	overflow:auto;
}

ul{
	list-style-position: inside;
}

#skills {
	columns: 2;
}

#download {
	background: white;
}